<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>

	<rewrite>
            <rules>
                <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
                    <match url="^player\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^chapterID=([^=&amp;]+)&amp;channelName=([^=&amp;]+)&amp;chapterName=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="player/{C:1}/{C:2}/{C:3}/{C:4}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^player/([^/]+)/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="player.php?chapterID={R:1}&amp;channelName={R:2}&amp;chapterName={R:3}" />
                </rule>
				        <rule name="RedirectUserFriendlyURL2" stopProcessing="true">
                    <match url="^cta\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^ID=([^=&amp;]+)&amp;name=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="cta/{C:1}/{C:2}" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^cta/([^/]+)/([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="cta.php?ID={R:1}&amp;name={R:2}" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
